/* Reset some default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom right, rgba(224, 255, 224, 1), rgba(192, 255, 192, 1)); /* Soft gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Allow stacking of elements */
}

.container {
    text-align: center;
    background-color: #ffffff; /* White background for the container */
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 1200px;
    width: 90%; /* Allow the container to take full width with some margin */
}

.heading {
    font-size: 2.5em; /* Slightly smaller heading for better proportion */
    color: #2c3e50;
    margin-bottom: 20px;
}

.map-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Space below the map */
}

iframe {
    width: 100%;
    height: 600px; /* Increased height for the iframe */
    border: none;
    border-radius: 10px;
}

.map-container:before {
    content: "";
    display: block;
    padding-top: 70%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clickable-marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

/* Go Back button style */
.go-back-button {
    display: inline-block;
    background-color: #2980b9;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

.go-back-button:hover {
    background-color: #1f6691; /* Darker shade on hover */
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.caption {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
